@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    background: transparent;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
}

.overlay-wrapper {
    width: 308px;
    height: 793px;
    // background: #ff9;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.message {
    font: 12pt 'Inconsolata';
    // line-height: 22px;

    span.message-display-name {
        font-weight: bold;
    }

    img.message-emote {
        height: 11pt;
        width: 11pt;
    }
}
